<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>wiki</display-name>
  <welcome-file-list>
    <welcome-file>Accueil</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Accueil</display-name>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.perou.wiki.controleurs.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Commentaire</display-name>
    <servlet-name>Commentaire</servlet-name>
    <servlet-class>com.perou.wiki.controleurs.Commentaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Commentaire</servlet-name>
    <url-pattern>/Commentaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletController</display-name>
    <servlet-name>servletController</servlet-name>
    <servlet-class>com.perou.wiki.controleurs.servletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletController</servlet-name>
    <url-pattern>/servletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreerController</display-name>
    <servlet-name>CreerController</servlet-name>
    <servlet-class>com.perou.wiki.controleurs.CreerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerController</servlet-name>
    <url-pattern>/CreerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.perou.wiki.controleurs.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnecController</display-name>
    <servlet-name>ConnecController</servlet-name>
    <servlet-class>com.perou.wiki.controleurs.ConnecController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnecController</servlet-name>
    <url-pattern>/ConnecController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtileController</display-name>
    <servlet-name>ArtileController</servlet-name>
    <servlet-class>com.perou.wiki.controleurs.ArtileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtileController</servlet-name>
    <url-pattern>/ArtileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbstractController</display-name>
    <servlet-name>AbstractController</servlet-name>
    <servlet-class>com.perou.wiki.controleurs.AbstractController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbstractController</servlet-name>
    <url-pattern>/AbstractController</url-pattern>
  </servlet-mapping>
</web-app>